<section id="slider" class="no-padding">
   <div id="rev_slider_28_1_wrapper" class="rev_slider_wrapper fullScreen fullscreen-container" data-alias="parallax-zoom-slices" data-source="gallery" style="background:#000000;padding:0px;">
      <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
      <section id="slider" class="no-padding">
         <div id="rev_slider_28_1_wrapper" class="rev_slider_wrapper fullScreen fullscreen-container" data-alias="parallax-zoom-slices" data-source="gallery" style="background:#000000;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_28_1" class="rev_slider fullscreenbanner fullScreen" style="display:none;" data-version="5.4.1">
               <ul>
                  <!-- SLIDE 1 -->
                  <li data-index="rs-83" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="1000" data-thumb="assets/bg6.jpg"
                     data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
                     data-slicey_shadow="0px 0px 50px 0px #1a1336">
                     <!-- MAIN IMAGE -->
                     <img src="assets/bg6.jpg" alt="Technogiq" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0"
                        data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                     <!-- LAYER NR. 18 -->
                     <div class="tp-caption   tp-resizeme" id="slide-83-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','50','40','30']"
                        data-lineheight="['60','60','50','40']" data-width="['none','none','480','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 100);bc:rgb(255,255,255);bw:0 0 3px 0;"}]'
                        data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 600; color: rgba(255,255,255,100); letter-spacing: px;font-family:Poppins;">About Us <br> <b style="color: #d4ad15; font-size:40px;">Work is easy when you have all tools around you!</b></div>
                  </li>
               </ul>
            </div>
         </div>
      </section>
   </div>
   <!-- END REVOLUTION SLIDER -->
   <script type="text/javascript">
      var tpj = jQuery;
      
      var revapi28;
      tpj(document).ready(function() {
          if (tpj("#rev_slider_28_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_28_1");
          } else {
              revapi28 = tpj("#rev_slider_28_1").show().revolution({
                  sliderType: "standard",
                  jsFileLocation: "include/rs-plugin/js/",
                  sliderLayout: "fullscreen",
                  dottedOverlay: "none",
                  delay: 5500,
                  navigation: {
                      keyboardNavigation: "off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      mouseScrollReverse: "default",
                      onHoverStop: "off",
                      arrows: {
                          style: "uranus",
                          enable: true,
                          hide_onmobile: false,
                          hide_onleave: false,
                          tmp: '',
                          left: {
                              h_align: "left",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          },
                          right: {
                              h_align: "right",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          }
                      },
                      bullets: {
                          enable: true,
                          hide_onmobile: false,
                          style: "hermes",
                          hide_onleave: false,
                          direction: "horizontal",
                          h_align: "center",
                          v_align: "bottom",
                          h_offset: 0,
                          v_offset: 20,
                          space: 5,
                          tmp: ''
                      }
                  },
                  responsiveLevels: [1240, 1024, 778, 480],
                  visibilityLevels: [1240, 1024, 778, 480],
                  gridwidth: [1240, 1024, 778, 480],
                  gridheight: [868, 768, 960, 720],
                  lazyType: "none",
                  shadow: 0,
                  spinner: "off",
                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,
                  shuffle: "off",
                  autoHeight: "off",
                  fullScreenAutoWidth: "off",
                  fullScreenAlignForce: "off",
                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "0px",
                  hideThumbsOnMobile: "off",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  debugMode: false,
                  fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                  }
              });
          }
      
          if (revapi28) revapi28.revSliderSlicey();
      }); /*ready*/
   </script>
</section>
<section>
   <div class="container">
      <div class="row">
         <div class="col-lg-11">
            <div class="heading heading text-left">
               <h2>How We Started</h2>
               <p class="lead">SaiM IT Solutions specializes in Customer Relationship Management (CRM) who accelerates the business
                  value focusing on high quality and scalable solutions for the most complex business problems on
                  Salesforce platform. At SaiM IT Solutions, we provide the best Salesforce implementation, consulting,
                  development, integration and managed services according to the latest releases and updates in
                  Salesforce products. We focus on delivering high-quality solutions in the least possible time that boosts
                  the digital transformation of an organization.
               </p>
               <p class="lead">
                  Our team consists of certified Salesforce experts which includes developers, architects, consultants,
                  administrators. We provide scalable and robust Salesforce solutions by leveraging the native capabilities
                  of Salesforce products rather than creating custom solutions using the Salesforce platform.
               </p>
            </div>
         </div>
         <div class="col-lg-1 m-t-60">
         </div>
      </div>
   </div>
</section>
<section class="box-fancy section-fullwidth  p-b-0 m-section">
   <div class="row">
      <div class="col-lg-3" style="background-color: rgb(223, 179, 7);">
         <h1 class="text-large text-uppercase">2016</h1>
         <h3>CONCEPT PHASE</h3>
         <span>We started in 2015 a small venture with 3 developer to make our tomorrow a starter, maker and to be a successful entrepreneur, Working in conceptualization of IT development services.</span>
      </div>
      <div class="col-lg-3" style="background-color: rgb(230, 186, 14);">
         <h1 class="text-large text-uppercase">2017</h1>
         <h3>DEVELOPMENT PHASE</h3>
         <span>We gradually start growing and focusing on centralized global business model by creating the experienced team for better business solutions and agile methods for our clients. Build a team of 35+ developers and planning to open our offices in other places in Pune and Indore  for better business development handling.</span>
      </div>
      <div class="col-lg-3" style="background-color: rgb(234, 192, 29);">
         <h1 class="text-large text-uppercase">2018</h1>
         <h3>IMPLEMENTATION PHASE</h3>
         <span>Maintaining the lifecycle by joining the hands with Europe firm Maurizio handling the office and other development know how,  we set the standard activities and project management tools for scheduling, planning and project taking with quality delivery services. Our Implementation phase is more on growth of team strength to break the technology scarcity issues and increase client relationship. </span>
      </div>
      <div class="col-lg-3" style="background-color: rgb(221, 182, 28);">
         <h1 class="text-large text-uppercase">2019</h1>
         <h3>GROWTH PHASE</h3>
         <span>We are working on increasing the work velocity, client efficiency, company visibility and enhance development to improve client relationship. Planning to be a team of 150+ developers worldwide and opening a new space in USA soon. Our global delivery model focuses on the best resources to be drawn to offer optimal solutions for today’s agile business environments.</span>
      </div>
   </div>
</section>
<section id="section-testimonials" style="background-color:#efefef;">
   <div class="container">
      <div class="carousel arrows-visibile testimonial testimonial-single" data-items="1" data-loop="true" data-autoplay="true" data-autoplay-timeout="3500" data-arrows="false">
         <div class="testimonial-item" style="background-color:#f5f5f4;">
            <h1>MISSION</h1>
            <p>To be a global leader in Offshore services where fortune 500 <br>companies can rely on us, resulting value, affordability and service
               <br> by having maximum satisfied customers.
            </p>
         </div>
         <div class="testimonial-item" style="background-color:#f5f5f4;">
            <h1>VISION</h1>
            <p>To provide quality to the customers through design enabled<br> meaningful web and mobile application development.</p>
         </div>
         <div class="testimonial-item" style="background-color:#f5f5f4;">
            <h1>VALUES</h1>
            <p class="mp">
               <b>M </b> - Making technology use easy and convenient.<br>
               <b>I&nbsp;&nbsp; </b> -&nbsp; IT Excellence<br>
               <b>L &nbsp;</b>- &nbsp;Loyalty and Commitment for best services
            </p>
         </div>
      </div>
   </div>
</section>
<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
<script src="/assets/plugins.js"></script> 
<!--Template functions-->
<script src="/assets/functions.js"></script>
<!-- Start of technogiq Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=3b4e8d6a-8222-4d1e-a5a2-1a5cc3661002"></script>
<!-- End of technogiq Zendesk Widget script -->
<script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>