<section id="slider" class="no-padding">
   <div id="rev_slider_28_1_wrapper" class="rev_slider_wrapper fullScreen fullscreen-container" data-alias="parallax-zoom-slices" data-source="gallery" style="background:#000000;padding:0px;">
      <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
      <section class="p-b-10" style= "padding-top: 5%;"data-parallax-image="/assets/Cont3.jpg">
         <div class="container-fluid  text-light">
            <div class="py-5 pl-3">
               <h1 class="text-medium">Salesforce Customization</h1>
            </div>
         </div>
      </section>
   </div>
   <!-- END REVOLUTION SLIDER -->
   <script type="text/javascript">
      var tpj = jQuery;
      
      var revapi28;
      tpj(document).ready(function() {
          if (tpj("#rev_slider_28_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_28_1");
          } else {
              revapi28 = tpj("#rev_slider_28_1").show().revolution({
                  sliderType: "standard",
                  jsFileLocation: "include/rs-plugin/js/",
                  sliderLayout: "fullscreen",
                  dottedOverlay: "none",
                  delay: 5500,
                  navigation: {
                      keyboardNavigation: "off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      mouseScrollReverse: "default",
                      onHoverStop: "off",
                      arrows: {
                          style: "uranus",
                          enable: true,
                          hide_onmobile: false,
                          hide_onleave: false,
                          tmp: '',
                          left: {
                              h_align: "left",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          },
                          right: {
                              h_align: "right",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          }
                      },
                      bullets: {
                          enable: true,
                          hide_onmobile: false,
                          style: "hermes",
                          hide_onleave: false,
                          direction: "horizontal",
                          h_align: "center",
                          v_align: "bottom",
                          h_offset: 0,
                          v_offset: 20,
                          space: 5,
                          tmp: ''
                      }
                  },
                  responsiveLevels: [1240, 1024, 778, 480],
                  visibilityLevels: [1240, 1024, 778, 480],
                  gridwidth: [1240, 1024, 778, 480],
                  gridheight: [868, 768, 960, 720],
                  lazyType: "none",
                  shadow: 0,
                  spinner: "off",
                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,
                  shuffle: "off",
                  autoHeight: "off",
                  fullScreenAutoWidth: "off",
                  fullScreenAlignForce: "off",
                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "0px",
                  hideThumbsOnMobile: "off",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  debugMode: false,
                  fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                  }
              });
          }
      
          if (revapi28) revapi28.revSliderSlicey();
      }); /*ready*/
   </script>
</section>
<body id="customization">
   <div id="main" style="padding-left: 3%; padding-right: 3%;">
      <div id="content6">
         <div class="content">
            <div class="text">
               AddaxCRM helps you address the specific challenges of your business by customizing and
               augmenting the Salesforce platform according to your business needs and requirements.
            </div>
            <a href="<%= contactus_path %>" class="button type1">CONTACT US</a>
         </div>
      </div>
      <div id="content5">
         <!--<img class="banner" src="/_file/image/banner/300x250.png.webp"/>-->
         <h2 class="title">Salesforce customization services</h2>
         <div class="text">We understand that any business – big or small – has a number of unique aspects when it comes to its
            operational processes. We help you uncover the full potential of your Salesforce CRM application by
            tailoring it to your specific needs and employee preferences. AddaxCRM's team features technical experts in Salesforce customization,
            consulting and custom development, and our work is performed according to industry best practices.
         </div>
         <h3 class="what_we_do">What we Do</h3>
         <div class="lists">
            <div class="left">
               <h3 class="title">Custom Data Structures</h3>
               <ul class="list2">
                  <li>Create data models to suit your business profile, over and above the standard sales, marketing and
                     service objects
                  </li>
                  <li>Integrate 3rd party ERP application objects with diverse database schemas for seamless data transfer</li>
                  <li>Create and deploy custom CRM apps quickly with Salesforce PaaS (platform as a service) without expensive
                     infrastructure costs
                  </li>
               </ul>
            </div>
            <!--
               -->
            <div class="right">
               <h3 class="title">Custom User Interface</h3>
               <ul class="list2">
                  <li>Create an intuitive, modern UI for your Salesforce application, in line with your brand guidelines and
                     company requirements
                  </li>
                  <li>Integrate custom-managed modules with state of the art 3rd party, prebuilt components form Salesforce
                     Appexchange
                  </li>
                  <li>Create complex web forms and easy-to-use online tools and calculators as per custom rules unique to
                     your business
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div id="modules">
      <h2 class="title">What makes AddaxCRM Unique ?</h2>
      <div class="modules">
         <div class="module">
            <h3 class="subtitle">Exclusive Certified Resources</h3>
            <div class="text">
               Salesforce CRM certified resources
               for all CRM project implementations
            </div>
         </div>
         <!--
            -->
         <div class="module">
            <h3 class="subtitle">Extensive Industry Experience</h3>
            <div class="text">
               Domain experts to ensure business objectives
               are clearly defined and met
            </div>
         </div>
         <!--
            -->
         <div class="module">
            <h3 class="subtitle">Impeccable Program Management</h3>
            <div class="text">
               Proficient managers to ensure timely
               turnarounds and manage project risks
            </div>
         </div>
         <!--
            -->
         <div class="module">
            <h3 class="subtitle">Post Deployment Support</h3>
            <div class="text">
               Handholding and change management
               to boost CRM solution adoption in your
               enterprise
            </div>
         </div>
      </div>
   </div>
   <div id="content4">
      <h2 class="title">Top 5 pitfalls to workout for in Salesforce customization</h2>
      <div class="text">Customizing Salesforce CRM has many potential pitfalls
         along the way, and only the best Salesforce personalized services can
         help you strike the balance between customization and complexity. We
         help you create a tailored solution, without compromising on scalability
         and security by avoiding each of the following snags.
      </div>
      <div class="benefits">
         <div class="benefit">
            <div class='quality image' data-aos="fade-right">
            </div>
            <div class="content">
               <h3 class="title2">Data Quality Issues</h3>
               <ul class="list2">
                  <li>We ensure your data is migration ready before being migrated to
                     Salesforce CRM by validating and de-duplicating all records
                  </li>
                  <li>We ensure future data integrity through the customized use of
                     required fields, data validation, deduplication rules, external IDs
                     for integration points and field level security
                  </li>
               </ul>
            </div>
         </div>
         <div class="benefit">
            <div class="content">
               <h3 class="title2">Inadequate Prototyping and Testing</h3>
               <ul class="list2">
                  <li>We use Salesforce sandboxes for development, quality assurance,
                     integration, staging, testing, and end-user training
                  </li>
                  <li>We thoroughly test customizations, integrations, API calls, and apps before you
                     push to production and roll out to your users
                  </li>
               </ul>
            </div>
            <div class='inadequate image' data-aos="fade-left">
            </div>
         </div>
         <div class="benefit">
            <div class='excess image' data-aos="fade-right">
            </div>
            <div class="content">
               <h3 class="title2">Excess Customization</h3>
               <ul class="list2">
                  <li>We help you strike the right balance between flexibility and complexity by
                     customizing only where necessary
                  </li>
                  <li>We ensure the CRM system doesn’t become too complex to
                     accommodate future changes in business processes and rules
                  </li>
               </ul>
            </div>
         </div>
         <div class="benefit">
            <div class="content">
               <h3 class="title2">Inadequate Business Involvement and Adoption</h3>
               <ul class="list2">
                  <li>We incorporate training for your users during the UAT stage, for customized
                     CRM systems, rather than waiting for the final rollout
                  </li>
                  <li>We involve business users in defining personalized requirements,
                     while also informing them of the many "out of the box" features that
                     Salesforce offers
                  </li>
               </ul>
            </div>
            <div class='business image' data-aos="fade-left">
            </div>
         </div>
         <div class="benefit">
            <div class='crm image' data-aos="fade-right">
            </div>
            <div class="content">
               <h3 class="title2">Using CRM Only For Sales</h3>
               <ul class="list2">
                  <li>Your Salesforce CRM can be customized for much more than sales or
                     even CRM functions, it can be used by HR, operations
                     and IT departments too
                  </li>
                  <li>Salesforce CRM can be a single source of truth across
                     departments, leading to decreased software costs and
                     improved productivity
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript"> /*! modernizr 3.6.0 (Custom Build) | MIT * * https://modernizr.com/download/?-webp-setclasses !*/ !function(e,n,A){function o(e,n){return typeof e===n}function t(){var e,n,A,t,a,i,l;for(var f in r)if(r.hasOwnProperty(f)){if(e=[],n=r[f],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(A=0;A<n.options.aliases.length;A++)e.push(n.options.aliases[A].toLowerCase());for(t=o(n.fn,"function")?n.fn():n.fn,a=0;a<e.length;a++)i=e[a],l=i.split("."),1===l.length?Modernizr[l[0]]=t:(!Modernizr[l[0]]||Modernizr[l[0]]instanceof Boolean||(Modernizr[l[0]]=new Boolean(Modernizr[l[0]])),Modernizr[l[0]][l[1]]=t),s.push((t?"":"no-")+l.join("-"))}}function a(e){var n=u.className,A=Modernizr._config.classPrefix||"";if(c&&(n=n.baseVal),Modernizr._config.enableJSClass){var o=new RegExp("(^|\\s)"+A+"no-js(\\s|$)");n=n.replace(o,"$1"+A+"js$2")}Modernizr._config.enableClasses&&(n+=" "+A+e.join(" "+A),c?u.className.baseVal=n:u.className=n)}function i(e,n){if("object"==typeof e)for(var A in e)f(e,A)&&i(A,e[A]);else{e=e.toLowerCase();var o=e.split("."),t=Modernizr[o[0]];if(2==o.length&&(t=t[o[1]]),"undefined"!=typeof t)return Modernizr;n="function"==typeof n?n():n,1==o.length?Modernizr[o[0]]=n:(!Modernizr[o[0]]||Modernizr[o[0]]instanceof Boolean||(Modernizr[o[0]]=new Boolean(Modernizr[o[0]])),Modernizr[o[0]][o[1]]=n),a([(n&&0!=n?"":"no-")+o.join("-")]),Modernizr._trigger(e,n)}return Modernizr}var s=[],r=[],l={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var A=this;setTimeout(function(){n(A[e])},0)},addTest:function(e,n,A){r.push({name:e,fn:n,options:A})},addAsyncTest:function(e){r.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=l,Modernizr=new Modernizr;var f,u=n.documentElement,c="svg"===u.nodeName.toLowerCase();!function(){var e={}.hasOwnProperty;f=o(e,"undefined")||o(e.call,"undefined")?function(e,n){return n in e&&o(e.constructor.prototype[n],"undefined")}:function(n,A){return e.call(n,A)}}(),l._l={},l.on=function(e,n){this._l[e]||(this._l[e]=[]),this._l[e].push(n),Modernizr.hasOwnProperty(e)&&setTimeout(function(){Modernizr._trigger(e,Modernizr[e])},0)},l._trigger=function(e,n){if(this._l[e]){var A=this._l[e];setTimeout(function(){var e,o;for(e=0;e<A.length;e++)(o=A[e])(n)},0),delete this._l[e]}},Modernizr._q.push(function(){l.addTest=i}),Modernizr.addAsyncTest(function(){function e(e,n,A){function o(n){var o=n&&"load"===n.type?1==t.width:!1,a="webp"===e;i(e,a&&o?new Boolean(o):o),A&&A(n)}var t=new Image;t.onerror=o,t.onload=o,t.src=n}var n=[{uri:"data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=",name:"webp"},{uri:"data:image/webp;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAABBxAR/Q9ERP8DAABWUDggGAAAADABAJ0BKgEAAQADADQlpAADcAD++/1QAA==",name:"webp.alpha"},{uri:"data:image/webp;base64,UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA",name:"webp.animation"},{uri:"data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=",name:"webp.lossless"}],A=n.shift();e(A.name,A.uri,function(A){if(A&&"load"===A.type)for(var o=0;o<n.length;o++)e(n[o].name,n[o].uri)})}),t(),a(s),delete l.addTest,delete l.addAsyncTest;for(var p=0;p<Modernizr._q.length;p++)Modernizr._q[p]();e.Modernizr=Modernizr}(window,document); </script>
   <!--
      Created by:
      https://github.com/zano3adev
      -->
   <script type='text/javascript'> Modernizr.on('webp', (result) => {
      if(!result) {
          document.getElementsByClassName('benefit')[0]  && document.getElementsByClassName('benefit')[0].classList.add('no-webp');
          document.getElementsByClassName('benefit')[1]  && document.getElementsByClassName('benefit')[1].classList.add('no-webp');
          document.getElementsByClassName('benefit')[2]  && document.getElementsByClassName('benefit')[2].classList.add('no-webp');
          document.getElementsByClassName('benefit')[3]  && document.getElementsByClassName('benefit')[3].classList.add('no-webp');
          document.getElementsByClassName('benefit')[4]  && document.getElementsByClassName('benefit')[4].classList.add('no-webp');
        document.getElementById('content6')  && document.getElementById('content6').classList.add('no-webp');
      }
      })
      window.onload = () => {
      AOS.init();
      } 
   </script>
</body>
<!-- end: Wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
<script src="/assets/plugins.js"></script> 
<!--Template functions-->
<script src="/assets/functions.js"></script>
<!-- Start of technogiq Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=3b4e8d6a-8222-4d1e-a5a2-1a5cc3661002"></script>
<!-- End of technogiq Zendesk Widget script -->
<script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>