<section id="slider" class="no-padding">
   <div id="rev_slider_28_1_wrapper" class="rev_slider_wrapper fullScreen fullscreen-container" data-alias="parallax-zoom-slices" data-source="gallery" style="background:#000000;padding:0px;">
      <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
      <div id="rev_slider_28_1" class="rev_slider fullscreenbanner fullScreen" style="display:none;" data-version="5.4.1">
         <ul>
            <!-- SLIDE 1 -->
            <li data-index="rs-83" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="1000" data-thumb="assets/deskbg.jpg"
               data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
               data-slicey_shadow="0px 0px 50px 0px #1a1336">
               <!-- MAIN IMAGE -->
               <img src="assets/deskbg.jpg" alt="Technogiq" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0"
                  data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
               <!-- LAYERS -->
               <!-- LAYER NR. 13 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-83-layer-7" data-x="['left','left','left','left']" data-hoffset="['113','122','40','-95']" data-y="['top','top','top','top']" data-voffset="['-137','27','78','54']" data-width="['973','809','809','573']"
                  data-height="['433','256','256','233']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="10" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 14 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-83-layer-6" data-x="['left','left','left','left']" data-hoffset="['26','-10','-133','-139']" data-y="['top','top','top','top']" data-voffset="['252','194','190','256']"
                  data-fontweight="['100','600','600','600']" data-width="['413','413','413','279']" data-height="['437','437','437','336']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="20" data-slicey_blurstart="inherit" data-slicey_blurend="inherit"
                  data-responsive_offset="on" data-frames='[{"delay":450,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 15 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-83-layer-1" data-x="['left','left','left','left']" data-hoffset="['550','486','395','240']" data-y="['top','top','top','top']" data-voffset="['351','334','377','348']" data-width="['380','252','252','159']"
                  data-height="['404','309','309','291']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="30" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 16 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-83-layer-5" data-x="['left','left','left','left']" data-hoffset="['708','588','481','312']" data-y="['top','top','top','top']" data-voffset="['245','207','252','251']" data-width="['403','403','403','273']"
                  data-height="['178','178','178','157']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="40" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 17 -->
               <div class="tp-caption   tp-resizeme" id="slide-83-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-48','-48','-48','-38']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; font-size: 40px; line-height: 15px; font-weight: 600; color: rgba(0,0,0,0); letter-spacing: ;font-family:Poppins;text-transform:uppercase;">TECHNOGIQ</div>
               <!-- LAYER NR. 18 -->
               <div class="tp-caption   tp-resizeme" id="slide-83-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','50','40','30']"
                  data-lineheight="['60','60','50','40']" data-width="['none','none','480','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 100);bc:rgb(255,255,255);bw:0 0 3px 0;"}]'
                  data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 600; color: rgba(255,255,255,100); letter-spacing: px;font-family:Poppins;">Technology <b style="color: #d4ad15; font-size:40px;">Plus</b> Logic</div>
               <!-- LAYER NR. 19 -->
               <div class="tp-caption   tp-resizeme" id="slide-83-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['59','59','49','39']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; white-space: nowrap; font-size: 40px; line-height: 35px; font-weight: 400; color: rgba(212,173,21,100); letter-spacing: ;font-family:Poppins;">
                  <b class="mhide" style="color:#1d1d1f;font-size:40px;">Let's TECHNOGIQ Your Business</b><b class="mshow" style="color:#1d1d1f; font-size:40px;">TECHNOGIQ</b>
               </div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-86" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="1000" data-thumb="assets/duality.jpg"
               data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
               data-slicey_shadow="0px 0px 50px 0px transparent">
               <!-- MAIN IMAGE -->
               <img src="assets/duality.jpg" alt="Technogiq" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0"
                  data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
               <!-- LAYERS -->
               <!-- LAYER NR. 35 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-86-layer-6" data-x="['left','left','left','left']" data-hoffset="['612','77','-51','-139']" data-y="['top','top','top','top']" data-voffset="['427','225','288','256']" data-width="['379','413','413','279']"
                  data-height="['400','437','437','336']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="30" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":200,"speed":300,"frame":"0","from":"sX:0;sY:0;opacity:0;fb:30px;fg:0;","to":"o:1;fb:0px;fg:100%;","ease":"Bounce.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fg:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="lighten" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);">
                  <div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="2px" data-origin="50% 50%"> </div>
               </div>
               <!-- LAYER NR. 36 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-86-layer-7" data-x="['left','left','left','left']" data-hoffset="['607','122','40','-31']" data-y="['top','top','top','top']" data-voffset="['17','27','78','59']" data-width="['445','809','809','573']"
                  data-height="['434','256','256','233']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="20" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":250,"speed":300,"frame":"0","from":"sX:0;sY:0;opacity:0;fb:30px;","to":"o:1;fb:0px;","ease":"Elastic.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="lighten" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);">
                  <div class="rs-looped rs-pendulum" data-easing="Power1.easeInOut" data-startdeg="-1" data-enddeg="1" data-speed="2" data-origin="50% 50%"> </div>
               </div>
               <!-- LAYER NR. 37 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-86-layer-1" data-x="['left','left','left','left']" data-hoffset="['318','472','319','123']" data-y="['top','top','top','top']" data-voffset="['358','409','465','386']" data-width="['320','252','252','159']"
                  data-height="['436','309','309','291']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="5" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":300,"speed":300,"frame":"0","from":"sX:0;sY:0;opacity:0;fb:30px;","to":"o:1;fb:0px;","ease":"Elastic.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="lighten" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 38 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-86-layer-5" data-x="['left','left','left','left']" data-hoffset="['474','588','481','224']" data-y="['top','top','top','top']" data-voffset="['234','207','252','403']" data-width="['398','403','403','273']"
                  data-height="['180','178','178','157']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="40" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":350,"speed":300,"frame":"0","from":"sX:0;sY:0;opacity:0;fb:30px;","to":"o:1;fb:0px;","ease":"Bounce.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="lighten" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 39 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-86-layer-9" data-x="['left','left','left','left']" data-hoffset="['284','379','329','130']" data-y="['top','top','top','top']" data-voffset="['102','245','324','276']" data-width="['403','403','403','273']"
                  data-height="['349','178','178','157']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="10" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":400,"speed":300,"frame":"0","from":"sX:0;sY:0;opacity:0;fb:30px;fg:0;","to":"o:1;fb:0px;fg:100%;","ease":"Bounce.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fg:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-blendmode="lighten" style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);">
                  <div class="rs-looped rs-wave" data-speed="2" data-angle="0" data-radius="3px" data-origin="50% 50%"> </div>
               </div>
               <!-- LAYER NR. 40 -->
               <div class="tp-caption   tp-resizeme" id="slide-86-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-48','-48','-48','-38']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 600; color: rgba(212, 173, 21,100); letter-spacing: ;font-family:Poppins;text-transform:uppercase;"></div>
               <!-- LAYER NR. 41 -->
               <div class="tp-caption   tp-resizeme" id="slide-86-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','50','40','30']"
                  data-lineheight="['60','60','50','40']" data-width="['none','none','480','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 100);bc:rgb(255,255,255);bw:0 0 3px 0;"}]'
                  data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; white-space: nowrap; font-size: 40px; line-height: 50px; font-weight: 600; color: rgba(255,255,255,100); letter-spacing: px;font-family:Poppins;">Excellence in <b style="color:#dfb307; font-size:50px;">IT</b> Services</div>
               <!-- LAYER NR. 42 -->
               <div class="tp-caption   tp-resizeme" id="slide-86-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['59','59','49','39']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12; white-space: nowrap; font-size: 40px; line-height: 40px; font-weight: 400; color: rgba(255,255,255,100); letter-spacing: ;font-family:Poppins;"></div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-84" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="1000" data-thumb="assets/images/Mock-up.jpg"
               data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
               data-slicey_shadow="0px 0px 50px 0px #373344">
               <!-- MAIN IMAGE -->
               <img src="assets/Mock-up.jpg" alt="Technogiq Mock-up" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="130" data-rotatestart="0" data-rotateend="0"
                  data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
               <!-- LAYERS -->
               <!-- LAYER NR. 27 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-84-layer-6" data-x="['left','left','left','left']" data-hoffset="['762','-10','-133','-139']" data-y="['top','top','top','top']" data-voffset="['553','194','190','256']"
                  data-width="['388','413','413','279']" data-height="['196','437','437','336']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="10" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":200,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 28 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-84-layer-7" data-x="['left','left','left','left']" data-hoffset="['607','122','40','-95']" data-y="['top','top','top','top']" data-voffset="['17','27','78','54']" data-width="['445','809','809','573']"
                  data-height="['434','256','256','233']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="20" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":250,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 29 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-84-layer-1" data-x="['left','left','left','left']" data-hoffset="['318','486','395','240']" data-y="['top','top','top','top']" data-voffset="['358','334','377','348']" data-width="['320','252','252','159']"
                  data-height="['436','309','309','291']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="30" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":300,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 30 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-84-layer-5" data-x="['left','left','left','left']" data-hoffset="['85','588','481','312']" data-y="['top','top','top','top']" data-voffset="['283','207','252','251']" data-width="['291','403','403','273']"
                  data-height="['179','178','178','157']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="50" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":350,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 31 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-84-layer-9" data-x="['left','left','left','left']" data-hoffset="['378','588','481','312']" data-y="['top','top','top','top']" data-voffset="['20','207','252','251']" data-width="['165','403','403','273']"
                  data-height="['235','178','178','157']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="70" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 32 -->
               <div class="tp-caption   tp-resizeme" id="slide-84-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-48','-48','-48','-38']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 35px; line-height: 35px; font-weight: 600; color: rgba(255, 207, 17,100); letter-spacing: ;font-family:Poppins;text-transform:uppercase;">Technogiq IT Solutions</div>
               <!-- LAYER NR. 33 -->
               <div class="tp-caption   tp-resizeme" id="slide-84-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','50','40','30']"
                  data-lineheight="['60','60','50','40']" data-width="['none','none','480','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 100);bc:rgb(255,255,255);bw:0 0 3px 0;"}]'
                  data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; white-space: nowrap; font-size: 50px; line-height: 60px; font-weight: 600; color: rgba(255,255,255,100); letter-spacing: px;font-family:Poppins;"><b class="mhide" style="font-size:50px;">is a information technology, consulting and outsourcing company</b></div>
               <!-- LAYER NR. 34 -->
               <div class="tp-caption   tp-resizeme" id="slide-84-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['59','59','49','39']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12; white-space: nowrap; font-size: 35px; line-height: 35px; font-weight: 400; color: rgba(255,255,255,100); letter-spacing: ;font-family:Poppins;"><b class="mhide" style="font-size:35px;">Focusing in latest technological services and global logical solutions</b></div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-82" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="1000" data-thumb="assets/bigbold_3.jpg"
               data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
               data-slicey_shadow="0px 0px 50px 0px transparent">
               <!-- MAIN IMAGE -->
               <img src="assets/bigbold_3.jpg" alt="Technogiq Mock" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0"
                  data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
               <!-- LAYERS -->
               <!-- LAYER NR. 1 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-13" data-x="['left','left','left','left']" data-hoffset="['250','171','39','17']" data-y="['top','top','top','top']" data-voffset="['779','693','847','630']" data-fontweight="['100','600','600','600']"
                  data-width="['493','490','490','312']" data-height="['216','222','222','293']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="20" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":300,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);"> </div>
               <!-- LAYER NR. 2 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-6" data-x="['left','left','left','left']" data-hoffset="['141','81','48','19']" data-y="['top','top','top','top']" data-voffset="['254','215','270','211']" data-fontweight="['100','600','600','600']"
                  data-width="['281','257','140','75']" data-height="['345','343','250','127']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="10" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":350,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);"> </div>
               <!-- LAYER NR. 3 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-5" data-x="['left','left','left','left']" data-hoffset="['687','574','469','301']" data-y="['top','top','top','top']" data-voffset="['248','223','281','208']" data-width="['338','308','140','94']"
                  data-height="['621','602','787','542']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="10" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 4 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-12" data-x="['left','left','left','left']" data-hoffset="['851','688','551','355']" data-y="['top','top','top','top']" data-voffset="['149','141','222','162']"
                  data-width="['339','329','226','77']" data-height="['809','662','867','569']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="20" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":450,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);"> </div>
               <!-- LAYER NR. 5 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-1" data-x="['left','left','left','left']" data-hoffset="['-54','-22','-4','-23']" data-y="['top','top','top','top']" data-voffset="['195','174','242','187']" data-width="['396','278','133','90']"
                  data-height="['762','664','779','564']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="20" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 6 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-14" data-x="['left','left','left','left']" data-hoffset="['992','835','644','413']" data-y="['top','top','top','top']" data-voffset="['104','95','156','119']" data-width="['756','404','242','150']"
                  data-height="['810','787','1038','654']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="30" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":550,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 7 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-15" data-x="['left','left','left','left']" data-hoffset="['-424','-195','-215','-131']" data-y="['top','top','top','top']" data-voffset="['119','138','208','170']"
                  data-width="['606','253','253','160']" data-height="['762','668','829','670']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="30" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;background-color:rgba(0, 0, 0, 0.5);"> </div>
               <!-- LAYER NR. 8 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-16" data-x="['left','left','left','left']" data-hoffset="['822','737','534','340']" data-y="['top','top','top','top']" data-voffset="['459','385','536','350']"
                  data-width="['953','501','502','325']" data-height="['464','431','661','400']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="40" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":650,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;background-color:rgba(0, 0, 0, 0.5);"> </div>
               <!-- LAYER NR. 9 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-82-layer-17" data-x="['left','left','left','left']" data-hoffset="['952','862','643','408']" data-y="['top','top','top','top']" data-voffset="['588','498','676','449']"
                  data-width="['873','404','405','366']" data-height="['462','401','571','343']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="60" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":700,"speed":1500,"frame":"0","from":"sX:0.9;sY:0.9;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;background-color:rgba(0, 0, 0, 0.5);"> </div>
               <!-- LAYER NR. 10 -->
               <div class="tp-caption   tp-resizeme" id="slide-82-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-48','-48','-48','-38']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: nowrap; font-size: 35px; line-height: 30px; font-weight: 600; color: rgba(255, 207, 17,100); letter-spacing: ;font-family:Poppins;text-transform:uppercase;">Envisage your need</div>
               <!-- LAYER NR. 11 -->
               <div class="tp-caption   tp-resizeme" id="slide-82-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','50','40','30']"
                  data-lineheight="['60','60','50','40']" data-width="['none','none','480','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 100);bc:rgb(255,255,255);bw:0 0 3px 0;"}]'
                  data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15; white-space: nowrap; font-size: 40px; line-height: 60px; font-weight: 600; color: rgba(255,255,255,100); letter-spacing: px;font-family:Poppins;"><b class="mhide" style="font-size:40px;">with latest technology and modernization</b></div>
               <!-- LAYER NR. 12 -->
               <div class="tp-caption   tp-resizeme" id="slide-82-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['59','59','49','39']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 16; white-space: nowrap; font-size: 35px; line-height: 30px; font-weight: 400; color: rgba(255,255,255,100); letter-spacing: ;font-family:Poppins;"><b class="mhide" style="font-size:35px;">using highly qualified tools and resources</b></div>
            </li>
            <!-- SLIDE  -->
            <!-- SLIDE  -->
            <li data-index="rs-85" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeOut" data-easeout="Power4.easeOut" data-masterspeed="1000" data-thumb="assets/officeloop_cover-100x50.jpg"
               data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""
               data-slicey_shadow="0px 0px 50px 0px rgba(0, 0, 0, 0.15)">
               <!-- MAIN IMAGE -->
               <img src="assets/officeloop_cover.jpg" alt="Technogiq" data-bgposition="center center" data-kenburns="on" data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0"
                  data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
               <!-- LAYERS -->
               <!-- LAYER NR. 20 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-85-layer-1" data-x="['right','left','left','left']" data-hoffset="['664','213','102','-169']" data-y="['top','top','top','top']" data-voffset="['254','203','228','223']"
                  data-width="['1202','253','253','372']" data-height="['939','824','819','493']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="20" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":200,"speed":2000,"frame":"0","from":"x:25px;y:-25px;sX:1;sY:1;opacity:0;","to":"o:1;rZ:-3;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 21 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-85-layer-6" data-x="['left','left','left','left']" data-hoffset="['627','519','404','247']" data-y="['top','top','top','top']" data-voffset="['409','308','344','309']" data-width="['818','413','413','491']"
                  data-height="['775','437','437','374']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="40" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":250,"speed":2000,"frame":"0","from":"x:-25px;y:-25px;sX:1.1;sY:1.1;opacity:0;","to":"o:1;rZ:-2;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 22 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-85-layer-7" data-x="['left','left','left','left']" data-hoffset="['621','519','403','248']" data-y="['top','top','top','top']" data-voffset="['-247','-110','41','27']" data-width="['1279','294','214','235']"
                  data-height="['618','370','254','243']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="30" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on" data-frames='[{"delay":300,"speed":2000,"frame":"0","from":"x:-25px;y:25px;sX:1;sY:1;opacity:0;","to":"o:1;rZ:3;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 23 -->
               <div class="tp-caption tp-shape tp-shapewrapper tp-slicey  tp-resizeme" id="slide-85-layer-15" data-x="['right','right','right','left']" data-hoffset="['663','560','423','-648']" data-y="['top','top','top','top']" data-voffset="['-415','22','40','27']"
                  data-width="['970','776','776','850']" data-height="['578','146','146','158']" data-whitespace="nowrap" data-type="shape" data-slicey_offset="10" data-slicey_blurstart="inherit" data-slicey_blurend="inherit" data-responsive_offset="on"
                  data-frames='[{"delay":350,"speed":2000,"frame":"0","from":"x:25px;y:25px;sX:1;sY:1;opacity:0;","to":"o:1;rZ:2;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;background-color:rgba(0, 0, 0, 0.5);">
               </div>
               <!-- LAYER NR. 24 -->
               <div class="tp-caption   tp-resizeme" id="slide-85-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-48','-48','-48','-38']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; font-size: 35px; line-height: 35px; font-weight: 600; color: rgba(255, 207, 17,100); letter-spacing: ;font-family:Poppins;text-transform:uppercase;"><b class="mhide" style="font-size:40px;">We offer custom web applications solution to clients</b></div>
               <!-- LAYER NR. 25 -->
               <div class="tp-caption   tp-resizeme" id="slide-85-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['50','50','40','30']"
                  data-lineheight="['60','60','50','40']" data-width="['none','none','480','360']" data-height="none" data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":400,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bc:rgb(255,255,255);bw:0 0 3px 0;"}]'
                  data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 40px; line-height: 50px; font-weight: 600; color: rgba(255,255,255,100); letter-spacing: px;font-family:Poppins;"><b class="mhide" style="font-size:40px;">which are highly flexible and affordable also counting as one of the best</b>
                  <b class="mshow" style="color: black; font-size:40px;">
                  Technology <b style="color: #d4ad15; font-size:40px;line-height: 50px;">Plus</b> Logic
                  </b>
               </div>
               <!-- LAYER NR. 26 -->
               <div class="tp-caption   tp-resizeme" id="slide-85-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['59','59','49','39']" data-width="none" data-height="none"
                  data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"speed":1000,"sfx_effect":"blockfromleft","sfxcolor":"#ffffff","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style=" z-index: 11; white-space: nowrap; font-size: 35px; line-height: 35px; font-weight: 400; color: rgba(255,255,255,100); letter-spacing: ;font-family:Poppins;">
                  <b class="mhide" style="font-size:40px;">
                  Professional seo services company globally
                  </b>
               </div>
            </li>
         </ul>
         <!--<div class="tp-bannertimer" style="height: 10px; background: rgba(255,255,255,0.25);"></div>-->
      </div>
   </div>
   <!-- END REVOLUTION SLIDER -->
   <script type="text/javascript">
      var tpj = jQuery;
      
      var revapi28;
      tpj(document).ready(function() {
          if (tpj("#rev_slider_28_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_28_1");
          } else {
              revapi28 = tpj("#rev_slider_28_1").show().revolution({
                  sliderType: "standard",
                  jsFileLocation: "include/rs-plugin/js/",
                  sliderLayout: "fullscreen",
                  dottedOverlay: "none",
                  delay: 5500,
                  navigation: {
                      keyboardNavigation: "off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      mouseScrollReverse: "default",
                      onHoverStop: "off",
                      arrows: {
                          style: "uranus",
                          enable: true,
                          hide_onmobile: false,
                          hide_onleave: false,
                          tmp: '',
                          left: {
                              h_align: "left",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          },
                          right: {
                              h_align: "right",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          }
                      },
                      bullets: {
                          enable: true,
                          hide_onmobile: false,
                          style: "hermes",
                          hide_onleave: false,
                          direction: "horizontal",
                          h_align: "center",
                          v_align: "bottom",
                          h_offset: 0,
                          v_offset: 20,
                          space: 5,
                          tmp: ''
                      }
                  },
                  responsiveLevels: [1240, 1024, 778, 480],
                  visibilityLevels: [1240, 1024, 778, 480],
                  gridwidth: [1240, 1024, 778, 480],
                  gridheight: [868, 768, 960, 720],
                  lazyType: "none",
                  shadow: 0,
                  spinner: "off",
                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,
                  shuffle: "off",
                  autoHeight: "off",
                  fullScreenAutoWidth: "off",
                  fullScreenAlignForce: "off",
                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "0px",
                  hideThumbsOnMobile: "off",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  debugMode: false,
                  fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                  }
              });
          }
      
          if (revapi28) revapi28.revSliderSlicey();
      }); /*ready*/
   </script>
</section>
<!-- end: Revolution Slider-->
<section class="no-padding equalize p-t-80" data-equalize-item=".text-box">
   <div class="heading section-title">
      <h2>Discover Technogiq</h2>
      <p class="section-sub">We are a team of trained experts, our methods are professional,<br>agile, modernized and standard codes for the best customer experience </p>
   </div>
   <div class="row col-no-margin">
      <!--Box 1-->
      <div class="col-lg-3" style="background-color: #2F2F2F;">
         <div class="text-box">
            <a href="#">
               <i class="fa fa-paper-plane"></i>
               <h3>Quality & Agile Services</h3>
               <p>Each of our services designed for our Clients drive productivity and efficiency enabling dynamic Environment of quality codes. We follow Agile Methods which maximize We assure better quality benefitting to the user and client.
               </p>
            </a>
         </div>
      </div>
      <!--End: Box 1-->
      <!--Box 2-->
      <div class="col-lg-3" style="background-color: #383838;">
         <div class="text-box">
            <a href="#">
               <i class="fas fa-chart-pie"></i>
               <h3>Proactively Monitoring</h3>
               <p>Technogiq has assembled one of the best IT Team and valuable software development services to the clients. Our dedicated team supports 24x7 proactively monitoring of clients project and Time management with quick response support
                  every day.
               </p>
            </a>
         </div>
      </div>
      <!--End: Box 2-->
      <!--Box 3-->
      <div class="col-lg-3" style="background-color: #313131;">
         <div class="text-box">
            <a href="#">
               <i class="far fa-lightbulb"></i>
               <h3>Affordability</h3>
               <br>
               <p>We focus on rapid technological expansion unrivaled benefits in the provision of IT services. Every Penny Client spend is worthful thus offers affordability and quality outcome for an end to end services.
               </p>
            </a>
         </div>
      </div>
      <!--End: Box 3-->
      <!--Box 4-->
      <div class="col-lg-3" style="background-color: #383838;">
         <div class="text-box">
            <a href="#">
               <i class="fa fa-language"></i>
               <h3>Support System</h3>
               <br>
               <p>Our support system is flexible we follow necessary strategy, consulting with client about his needs and services, designing the architecture and scope or work, implementing the development process.</p>
            </a>
         </div>
      </div>
      <!--End: Box 4-->
   </div>
</section>
<!-- end: Call to action -->
<!--<div class="hr-title hr-long center"><abbr>WHO WE ARE</abbr> </div>-->
<!-- <section class="section-padding" style="background-image: url('assets/whowe.jpg'); min-height: 0px; background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;"> -->
<!--feature-section-->
<!-- <div class="container text-light ">
   <div class="row">
       <div class="col-sm-10 col-xs-12  p-b-30">
           <h1>Who we are !</h1>
           <p style="font-size: 16px;">Technogiq IT Solutions is Leading-edge Software, Web and Mobile app Development Company. We offers custom software solutions, data-driven marketing and Cloud based services on related challenges to the need of all types of startups
               as well as blue-chip companies to grow their business. We use an agile methodologies thus delivering robust software products in the shortest time to market. </p>
           <p style="font-size: 16px;">Technogiq IT Solutions is established with the motive to benchmark one of the best IT outsourcing company of india with sole objective to create custom software solutions for the offshore clients providing them elegant work with
               minimum investments. We started Technogiq IT solutions Pvt. Ltd with an objective to reach global heights and success for business and clients.</p>
           <p style="font-size: 16px;">We established our reputation in the industry through our commitment to clients and always believe in satisfying them with the best suggestions and solutions for business. We started with a small venture having high hopes to be
               a global leader in the upcoming time.</p>
           <p style="font-size: 16px;">Technogiq IT solution is everywhere holding a team of 100+ developers covering all the domains and providing leading expert business solutions across the globe. Our Team is professional with diverse and extensive portfolio knowledge.
               Providing mid solutions to any complicated task and has been recognized by a leading web development company in Germany, US, UK countless states.
           </p>
           <a href="about-us.php">
               <button class="btn btn-rounded btn-outline" data-width="235" href="#" style="width: 130px;">
               <span>About Us</span>
               <i class="fa fa-arrow-right"></i>
           </button>
           </a>
       </div>
   </div>
   </div>
   </section> -->
<div class="container-fluid" style="background-color: #dfb307; height: auto;">
   <div class="container">
      <div class="row py-4">
         <div class="col-sm-10 p-t-5">
            <h3 class="">We would love to assist you, looking for It services contact us now</h3>
         </div>
         <div class="col-sm-1 p-r-100 m-r-50">
            <a href="contact-us.php">
            <button class="btn btn-rounded  btn-dark btn-outline" href="#" style="width: 250px; height:50px;">
            <span>Contact Us</span>
            <i class="fa fa-arrow-right"></i>
            </button>
            </a>
         </div>
      </div>
   </div>
</div>
</div>
<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
<script src="/assets/plugins.js"></script> 
<!--Template functions-->
<script src="/assets/functions.js"></script>
<!-- Start of technogiq Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=3b4e8d6a-8222-4d1e-a5a2-1a5cc3661002"></script>
<!-- End of technogiq Zendesk Widget script -->
<script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
