<section id="slider" class="no-padding">
   <div id="rev_slider_28_1_wrapper" class="rev_slider_wrapper fullScreen fullscreen-container" data-alias="parallax-zoom-slices" data-source="gallery" style="background:#000000;padding:0px;">
      <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
      <section class="p-b-10" style="padding-top: 10%;" data-parallax-image="assets/bg6.jpg">
         <div class="container-fluid  text-light">
            <div class="py-5 pl-3">
               <h1 style="color: white;">Salesforce Data Migration Services</h1>
            </div>
         </div>
      </section>
   </div>
   <!-- END REVOLUTION SLIDER -->
   <script type="text/javascript">
      var tpj = jQuery;
      
      var revapi28;
      tpj(document).ready(function() {
          if (tpj("#rev_slider_28_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_28_1");
          } else {
              revapi28 = tpj("#rev_slider_28_1").show().revolution({
                  sliderType: "standard",
                  jsFileLocation: "include/rs-plugin/js/",
                  sliderLayout: "fullscreen",
                  dottedOverlay: "none",
                  delay: 5500,
                  navigation: {
                      keyboardNavigation: "off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      mouseScrollReverse: "default",
                      onHoverStop: "off",
                      arrows: {
                          style: "uranus",
                          enable: true,
                          hide_onmobile: false,
                          hide_onleave: false,
                          tmp: '',
                          left: {
                              h_align: "left",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          },
                          right: {
                              h_align: "right",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          }
                      },
                      bullets: {
                          enable: true,
                          hide_onmobile: false,
                          style: "hermes",
                          hide_onleave: false,
                          direction: "horizontal",
                          h_align: "center",
                          v_align: "bottom",
                          h_offset: 0,
                          v_offset: 20,
                          space: 5,
                          tmp: ''
                      }
                  },
                  responsiveLevels: [1240, 1024, 778, 480],
                  visibilityLevels: [1240, 1024, 778, 480],
                  gridwidth: [1240, 1024, 778, 480],
                  gridheight: [868, 768, 960, 720],
                  lazyType: "none",
                  shadow: 0,
                  spinner: "off",
                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,
                  shuffle: "off",
                  autoHeight: "off",
                  fullScreenAutoWidth: "off",
                  fullScreenAlignForce: "off",
                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "0px",
                  hideThumbsOnMobile: "off",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  debugMode: false,
                  fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                  }
              });
          }
      
          if (revapi28) revapi28.revSliderSlicey();
      }); /*ready*/
   </script>
</section>
<body id="migration">
   <div id="main">
      <div id="content6">
         <div class="content">
            <h1 class="title">
               <span class="first-part">Services</span>
            </h1>
            <div class="text">
               AddaxCRM helps you migrate from any legacy setup to a state-of-the-art Salesforce CRM
               platform without any hassles
            </div>
            <a href="<%= contactus_path %>" class="button type1">CONTACT US</a>
         </div>
      </div>
      <div id="content5" style="padding-left: 2%; padding-right: 3%;">
         <h2 class="title">Salesforce Migration services</h2>
         <div class="text">If your startup business is in outgrowing spreadsheets
            or if your existing CRM system is not aligned with your business
            processes - migrating to Salesforce CRM can bring your team a drastic
            performance improvement solution. Salesforce CRM deployment, however,
            is a complex exercise with numerous pitfalls, making migration of
            legacy data an important and inevitable part of it. AddaxCRM solves
            your Salesforce migration from any type of legacy systems issues,
            without any hitches.
         </div>
      </div>
      <div class="lists">
         <div class="left" style="padding-left: 2%">
            <h3 class="title">CRM system migration</h3>
            <ul class="list2">
               <li>Migrate from any on-premise, cloud-based or custom-built CRM system to Salesforce</li>
               <li>Map standard objects such as contacts and opportunities as well as custom objects as per niche business
                  requirements
               </li>
               <li>Salesforce CRM provides process and reporting improvement</li>
            </ul>
         </div>
         <!--
            -->
         <div class="right" style="padding-right: 2%">
            <h3 class="title">Legacy setup migration</h3>
            <ul class="list2">
               <li>Migrate data from spreadsheets, custom portals, partner systems and ERP applications</li>
               <li>Handle diverse file formats, data structures, and business rules through a combination of automated and
                  manual techniques
               </li>
               <li>Plan for replacing or retiring obsolete systems with Salesforce CRM</li>
            </ul>
         </div>
      </div>
   </div>
   <div id="modules">
      <h2 class="title">What makes AddaxCRM Unique ?</h2>
      <div class="modules">
         <div class="module">
            <h3 class="subtitle">Exclusive Certified Resources</h3>
            <div class="text">
               Salesforce CRM certified resources
               for all CRM project implementations
            </div>
         </div>
         <!--
            -->
         <div class="module">
            <h3 class="subtitle">Extensive Industry Experience</h3>
            <div class="text">
               Domain experts to ensure business objectives
               are clearly defined and met
            </div>
         </div>
         <!--
            -->
         <div class="module">
            <h3 class="subtitle">Impeccable Program Management</h3>
            <div class="text">
               Proficient managers to ensure timely
               turnarounds and manage project risks
            </div>
         </div>
         <!--
            -->
         <div class="module">
            <h3 class="subtitle">Post Deployment Support</h3>
            <div class="text">
               Handholding and change management
               to boost CRM solution adoption in your
               enterprise
            </div>
         </div>
      </div>
   </div>
   <div id="content4">
      <h2 class="title">AddaxCRM Salesforce migration approach</h2>
      <div class="text">Data migration is one of the most underestimated aspects of Salesforce CRM implementation projects. It can have a
         tremendous impact on the overall cost and timelines as well as the post-deployment effectiveness of your Salesforce CRM
         application. We at AddaxCRM, help you meticulously plan and prepare for every data quality issue pre and
         post-deployment. So your CRM system can go live without any glitches or surprises.
      </div>
      <div class="benefits">
         <div class="benefit">
            <div class='cleanising image' data-aos="fade-right">
            </div>
            <div class="content">
               <h3 class="title2">Data Cleansing and Formatting</h3>
               <ul class="list2">
                  <li>Filter for duplicate, incomplete and inconsistent data records
                     prior to migration to ensure only quality data enters the new
                     system
                  </li>
                  <li>Split and merge values into fields to ensure the
                     destination fields required format is in the new database
                  </li>
               </ul>
            </div>
         </div>
         <div class="benefit">
            <div class="content">
               <h3 class="title2">Data mapping</h3>
               <ul class="list2">
                  <li>Map each and every field in the legacy application database to
                     its destination in Salesforce CRM database with entity
                     relationship diagrams
                  </li>
                  <li>Ensure validation and record ownership rules are met
                     for custom fields and Salesforce system/audit fields,
                     before beginning a Salesforce migration
                  </li>
               </ul>
            </div>
            <div class='mapping image' data-aos="fade-left">
            </div>
         </div>
         <div class="benefit">
            <div class='importing image' data-aos="fade-right">
            </div>
            <div class="content">
               <h3 class="title2">Data importing</h3>
               <ul class="list2">
                  <li>Backup data and run small initial imports in a sandbox
                     environment for validation and course correction
                  </li>
                  <li>Ensure the expected reports, search functions and UI
                     requirements of Salesforce CRM are met by importing the
                     optimum number of tables
                  </li>
                  <li>Use automated import tools and scripts to expedite the process
                     and cut down on migration cost and time
                  </li>
               </ul>
            </div>
         </div>
         <div class="benefit">
            <div class="content">
               <h3 class="title2">Post-migration support</h3>
               <ul class="list2">
                  <li>Ensure that your brand new Salesforce CRM platform is
                     perfectly configured with data validations, to avoid future data
                     quality issues
                  </li>
                  <li>Make necessary adjustments for exceptions and errors post
                     Salesforce migration, to align with changes in business
                     workflows and processes
                  </li>
               </ul>
            </div>
            <div class='post-migration image' data-aos="fade-left">
            </div>
         </div>
      </div>
   </div>
   </div>
   <script type="text/javascript">
      var ssaUrl = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pixel.sitescout.com/iap/72efdbba0a732f85';
      new Image().src = ssaUrl; 
      (function(d) { var syncUrl = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pixel.sitescout.com/dmp/asyncPixelSync'; 
      var iframe = d.createElement('iframe'); (iframe.frameElement || iframe).style.cssText = "width: 0; height: 0; border: 0; display: block;"; iframe.src = "javascript:false"; d.body.appendChild(iframe); 
      var doc = iframe.contentWindow.document; doc.open().write('<body onload="window.location.href=\''+syncUrl+'\'">'); doc.close(); })(document);
   </script>       
   <script type="text/javascript"> /*! modernizr 3.6.0 (Custom Build) | MIT * * https://modernizr.com/download/?-webp-setclasses !*/ !function(e,n,A){function o(e,n){return typeof e===n}function t(){var e,n,A,t,a,i,l;for(var f in r)if(r.hasOwnProperty(f)){if(e=[],n=r[f],n.name&&(e.push(n.name.toLowerCase()),n.options&&n.options.aliases&&n.options.aliases.length))for(A=0;A<n.options.aliases.length;A++)e.push(n.options.aliases[A].toLowerCase());for(t=o(n.fn,"function")?n.fn():n.fn,a=0;a<e.length;a++)i=e[a],l=i.split("."),1===l.length?Modernizr[l[0]]=t:(!Modernizr[l[0]]||Modernizr[l[0]]instanceof Boolean||(Modernizr[l[0]]=new Boolean(Modernizr[l[0]])),Modernizr[l[0]][l[1]]=t),s.push((t?"":"no-")+l.join("-"))}}function a(e){var n=u.className,A=Modernizr._config.classPrefix||"";if(c&&(n=n.baseVal),Modernizr._config.enableJSClass){var o=new RegExp("(^|\\s)"+A+"no-js(\\s|$)");n=n.replace(o,"$1"+A+"js$2")}Modernizr._config.enableClasses&&(n+=" "+A+e.join(" "+A),c?u.className.baseVal=n:u.className=n)}function i(e,n){if("object"==typeof e)for(var A in e)f(e,A)&&i(A,e[A]);else{e=e.toLowerCase();var o=e.split("."),t=Modernizr[o[0]];if(2==o.length&&(t=t[o[1]]),"undefined"!=typeof t)return Modernizr;n="function"==typeof n?n():n,1==o.length?Modernizr[o[0]]=n:(!Modernizr[o[0]]||Modernizr[o[0]]instanceof Boolean||(Modernizr[o[0]]=new Boolean(Modernizr[o[0]])),Modernizr[o[0]][o[1]]=n),a([(n&&0!=n?"":"no-")+o.join("-")]),Modernizr._trigger(e,n)}return Modernizr}var s=[],r=[],l={_version:"3.6.0",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,n){var A=this;setTimeout(function(){n(A[e])},0)},addTest:function(e,n,A){r.push({name:e,fn:n,options:A})},addAsyncTest:function(e){r.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=l,Modernizr=new Modernizr;var f,u=n.documentElement,c="svg"===u.nodeName.toLowerCase();!function(){var e={}.hasOwnProperty;f=o(e,"undefined")||o(e.call,"undefined")?function(e,n){return n in e&&o(e.constructor.prototype[n],"undefined")}:function(n,A){return e.call(n,A)}}(),l._l={},l.on=function(e,n){this._l[e]||(this._l[e]=[]),this._l[e].push(n),Modernizr.hasOwnProperty(e)&&setTimeout(function(){Modernizr._trigger(e,Modernizr[e])},0)},l._trigger=function(e,n){if(this._l[e]){var A=this._l[e];setTimeout(function(){var e,o;for(e=0;e<A.length;e++)(o=A[e])(n)},0),delete this._l[e]}},Modernizr._q.push(function(){l.addTest=i}),Modernizr.addAsyncTest(function(){function e(e,n,A){function o(n){var o=n&&"load"===n.type?1==t.width:!1,a="webp"===e;i(e,a&&o?new Boolean(o):o),A&&A(n)}var t=new Image;t.onerror=o,t.onload=o,t.src=n}var n=[{uri:"data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=",name:"webp"},{uri:"data:image/webp;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAwAAAABBxAR/Q9ERP8DAABWUDggGAAAADABAJ0BKgEAAQADADQlpAADcAD++/1QAA==",name:"webp.alpha"},{uri:"data:image/webp;base64,UklGRlIAAABXRUJQVlA4WAoAAAASAAAAAAAAAAAAQU5JTQYAAAD/////AABBTk1GJgAAAAAAAAAAAAAAAAAAAGQAAABWUDhMDQAAAC8AAAAQBxAREYiI/gcA",name:"webp.animation"},{uri:"data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=",name:"webp.lossless"}],A=n.shift();e(A.name,A.uri,function(A){if(A&&"load"===A.type)for(var o=0;o<n.length;o++)e(n[o].name,n[o].uri)})}),t(),a(s),delete l.addTest,delete l.addAsyncTest;for(var p=0;p<Modernizr._q.length;p++)Modernizr._q[p]();e.Modernizr=Modernizr}(window,document); </script>
   <!--
      Created by:
      https://github.com/zano3adev
      -->
   <script type='text/javascript'> Modernizr.on('webp', (result) => {
      if(!result) {
          document.getElementsByClassName('benefit')[0]  && document.getElementsByClassName('benefit')[0].classList.add('no-webp');
          document.getElementsByClassName('benefit')[1]  && document.getElementsByClassName('benefit')[1].classList.add('no-webp');
          document.getElementsByClassName('benefit')[2]  && document.getElementsByClassName('benefit')[2].classList.add('no-webp');
          document.getElementsByClassName('benefit')[3]  && document.getElementsByClassName('benefit')[3].classList.add('no-webp');
        document.getElementById('content6')  && document.getElementById('content6').classList.add('no-webp');
      }
      })
      window.onload = () => {
      AOS.init();
      }
   </script>
</body>
<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
<script src="/assets/plugins.js"></script> 
<!--Template functions-->
<script src="/assets/functions.js"></script>
<!-- Start of technogiq Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=3b4e8d6a-8222-4d1e-a5a2-1a5cc3661002"></script>
<!-- End of technogiq Zendesk Widget script -->
<script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>