<section id="slider" class="no-padding">
   <div id="rev_slider_28_1_wrapper" class="rev_slider_wrapper fullScreen fullscreen-container" data-alias="parallax-zoom-slices" data-source="gallery" style="background:#000000;padding:0px;">
      <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
      <section class="p-b-10" style= "padding-top: 5%;"data-parallax-image="/assets/Cont3.jpg">
         <div class="container-fluid  text-light">
            <div class="py-5 pl-3">
               <h1 class="text-uppercase text-medium">Contact Us</h1>
               <span>Work is easy when you have all tools around you!</span>   
            </div>
         </div>
      </section>
   </div>
   <!-- END REVOLUTION SLIDER -->
   <script type="text/javascript">
      var tpj = jQuery;
      
      var revapi28;
      tpj(document).ready(function() {
          if (tpj("#rev_slider_28_1").revolution == undefined) {
              revslider_showDoubleJqueryError("#rev_slider_28_1");
          } else {
              revapi28 = tpj("#rev_slider_28_1").show().revolution({
                  sliderType: "standard",
                  jsFileLocation: "include/rs-plugin/js/",
                  sliderLayout: "fullscreen",
                  dottedOverlay: "none",
                  delay: 5500,
                  navigation: {
                      keyboardNavigation: "off",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation: "off",
                      mouseScrollReverse: "default",
                      onHoverStop: "off",
                      arrows: {
                          style: "uranus",
                          enable: true,
                          hide_onmobile: false,
                          hide_onleave: false,
                          tmp: '',
                          left: {
                              h_align: "left",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          },
                          right: {
                              h_align: "right",
                              v_align: "center",
                              h_offset: 20,
                              v_offset: 0
                          }
                      },
                      bullets: {
                          enable: true,
                          hide_onmobile: false,
                          style: "hermes",
                          hide_onleave: false,
                          direction: "horizontal",
                          h_align: "center",
                          v_align: "bottom",
                          h_offset: 0,
                          v_offset: 20,
                          space: 5,
                          tmp: ''
                      }
                  },
                  responsiveLevels: [1240, 1024, 778, 480],
                  visibilityLevels: [1240, 1024, 778, 480],
                  gridwidth: [1240, 1024, 778, 480],
                  gridheight: [868, 768, 960, 720],
                  lazyType: "none",
                  shadow: 0,
                  spinner: "off",
                  stopLoop: "off",
                  stopAfterLoops: -1,
                  stopAtSlide: -1,
                  shuffle: "off",
                  autoHeight: "off",
                  fullScreenAutoWidth: "off",
                  fullScreenAlignForce: "off",
                  fullScreenOffsetContainer: "",
                  fullScreenOffset: "0px",
                  hideThumbsOnMobile: "off",
                  hideSliderAtLimit: 0,
                  hideCaptionAtLimit: 0,
                  hideAllCaptionAtLilmit: 0,
                  debugMode: false,
                  fallbacks: {
                      simplifyAll: "off",
                      nextSlideOnWindowFocus: "off",
                      disableFocusListener: false,
                  }
              });
          }
      
          if (revapi28) revapi28.revSliderSlicey();
      }); /*ready*/
   </script>
</section>

<h2>Thank you for your message!</h2>
<h3>we will get back to you</h3>


<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
<!-- Go to top button -->
<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
<!--Plugins-->
<script src="/assets/plugins.js"></script> 
<!--Template functions-->
<script src="/assets/functions.js"></script>
<!-- Start of technogiq Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=3b4e8d6a-8222-4d1e-a5a2-1a5cc3661002"></script>
<!-- End of technogiq Zendesk Widget script -->
<script src="https://cdn.rawgit.com/jackmoore/colorbox/master/jquery.colorbox-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>


