<footer id="footer" class="footer-light">
   <div class="footer-content">
      <div class="container-fluid">
         <div class="row p-l-20" style="background-image: url('/assets/world-map-dark.png'); background-position: 80% 20px; background-repeat: no-repeat">
            <div class="col-lg-3 p-l-20">
               <div class="widget">
                  <h4 style="font-size:18px;">SERVICES</h4>
                  <ul class="list-icon ">
                     <li><a href="blockchain.php" style="font-size:14px;">BLOCKCHAIN</a></li>
                     <li><a href="bi-iot.php" style="font-size:14px;">BI & IOT</a></li>
                     <li><a href="analytics-solutions.php" style="font-size:14px;">ANALYTICS SOLUTIONS</a></li>
                     <li><a href="https://technogiq.com/Our-works/" style="font-size:14px;">ANIMATION</a></li>
                     <li><a href="website-development.php" style="font-size:14px;">WEBSITE DEVELOPMENT</a></li>
                     <li><a href="mobile-application-development.php" style="font-size:14px;">MOBILE APPLICATION DEVELOPMENT</a></li>
                     <li><a href="digital-marketing.php" style="font-size:14px;">DIGITAL MARKETING</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-2">
               <div class="widget">
                  <h4 style="font-size:18px;">TECHNOLOGIES</h4>
                  <ul class="list-icon ">
                     <li class="my-li"><a href="bi-iot.php" style="font-size:14px;">INTERNET OF THINGS</a></li>
                     <li><a href="cloud-computing-services.php" style="font-size:14px;">CLOUD COMPUTING</a></li>
                     <li><a href="bi-iot.php" style="font-size:14px;">ARTIFICIAL INTELLIGENCE</a></li>
                     <li><a href="analytics-solutions.php" style="font-size:14px;">DATA MINING</a></li>
                     <li><a href="services.php" style="font-size:14px;">AUGMENTED REALITY</a></li>
                     <li><a href="fantasy-sports.php" style="font-size:14px;">FANTASY SPORTS </a></li>
                     <li><a href="enterprises-solutions.php" style="font-size:14px;">ERP SOLUTIONS</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-2">
               <div class="widget">
                  <h4 style="font-size:18px;">PLATFORM</h4>
                  <ul class="list-icon ">
                     <li><a href="website-development.php" style="font-size:14px;">WINDOWS</a></li>
                     <li><a href="mobile-application-development.php" style="font-size:14px;">ANDROID</a></li>
                     <li><a href="website-development.php" style="font-size:14px;">IOS</a></li>
                     <li><a href="animation.php" style="font-size:14px;">HYBRID PLATFORM</a></li>
                     <li><a href="services.php" style="font-size:14px;">AZURE</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-2">
               <div class="widget">
                  <h4 style="font-size:18px;">COMPANY</h4>
                  <ul class="list-icon ">
                     <li><a href="/" style="font-size:14px;">HOME</a></li>
                     <li><a href="portfolio.php" style="font-size:14px;">PORTFOLIO</a></li>
                     <li><a href="services.php" style="font-size:14px;">SERVICES</a></li>
                     <li><a href="software.php" style="font-size:14px;">SOFTWARE</a></li>
                     <li><a href="about-us.php" style="font-size:14px;">ABOUT US</a></li>
                     <li><a href="/career" style="font-size:14px;">CAREER</a></li>
                     <li><a href="/blogs" style="font-size:14px;">BLOGS</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="widget clearfix widget-contact-us">
                  <h4 style="font-size:18px;">CONNECT WITH TECHNOGIQ</h4>
                  <div class="social-icons social-icons-border float-left m-t-0" style="width: 45%;">
                     <ul>
                        <li class="social-skype"><a href="https://www.linkedin.com/company/technogiq-it-solutions-pvt-ltd/" target="blank"><i class="fab fa-linkedin"></i></a></li>
                        <li class="social-facebook"><a href="https://www.facebook.com/Technogiq-2419797748251713/" target="blank"><i class="fab fa-facebook-f"></i></a></li>
                        <!--<li class="social-skype"><a href="#"><i class="fab fa-skype"></i></a></li>-->
                     </ul>
                     <ul>
                        <li class="social-skype"><a href="mailto:info@technogiq.com"><i class="far fa-envelope" target="blank"></i></a></li>
                        <li class="social-skype"><a href="https://www.instagram.com/technogiq_it_solutions/" target="blank"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-skype"><a href="https://twitter.com/TechnogiqS" target="blank"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-skype"><a href="skype:info@technogiq.com?chat" target="blank"><i class="fab fa-skype"></i></a></li>
                     </ul>
                  </div>
               </div>
               <div class="widget">
                  <ul class="list-icon ">
                     <li><a href="contact-us.php" style="font-size:14px;">CONTACT US</a></li>
                     <li><a href="disclaimer.php" style="font-size:14px;">DISCLAIMER</a></li>
                     <li><a href="privacypolicy.php" style="font-size:14px;">PRIVACY POLICY</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>